@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<input id="party" type="datetime-local" name="partydate" value="2017-06-01">
<br />
<input id="sDate" name="programStartDate" type="text" jqdatepicker ng-model="date" />
{{date}}


<style type="text/css">
.active { 
  color: red; 
  font-weight: bold; 
}
</style>
<div ng-app="myApp2">
    <input type="text" datepicker-popup ng-model="dateNouki" ng-required="true" />
</div>

<div ng-controller="MyController">
    <form>
        <label for="date">日付：</label><br />
        <!--（3）日付ピッカーを準備 -->
        <input id="date" type="text" ng-model="current"
               ng-focus="onopen($event)"
               uib-datepicker-popup="yyyy-MM-dd" is-open="opened"
               current-text="今日" clear-text="クリア" close-text="閉じる" />
    </form>

</div>
    <div ng-app="myApp2" ng-controller="someController">
        <span translate>quantityL</span>
        <button ng-click="switchLanguage('jp')" translate="LANG_DE_DE"></button>
        <button ng-click="switchLanguage('en')" translate="LANG_EN_US"></button>
    </div>

<div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" id="sample1" width="1000">
    <label class="mdl-textfield__label" for="sample1">Text...</label>
</div>

