


@{
  //  ViewBag.Title = "Home Page";
}

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" style="width: 100%">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span ng-controller="facName" style="font-size:30px;font-weight:bold" class="mdl-layout-title" >
                    {{FacName}}
                </span>

                <div style="text-align:right;width: -webkit-fill-available; margin-right: 100px;">
                    <span ng-controller="changeLang"><img src="~/Content/Flag/japan-flag-icon-32.png" ng-click="switchLanguage('jp')" />&nbsp</span>
                    <span ng-controller="changeLang"><img src="~/Content/Flag/united-states-of-america-flag-icon-32.png" ng-click="switchLanguage('en')" />&nbsp</span>
                    <span ng-controller="changeLang"><img src="~/Content/Flag/vietnam-flag-icon-32.png" ng-click="switchLanguage('vn')" />&nbsp</span>
                </div>

            </div>
            <!-- Tabs -->

            <div class="mdl-layout__tab-bar mdl-js-ripple-effect" >
                <a href="#scroll-tab-2" class="mdl-layout__tab is-active"><span translate>orderL</span></a>
                <a href="#scroll-tab-3" class="mdl-layout__tab"><span translate>scheduleProdL</span></a>
                <a href="#scroll-tab-4" class="mdl-layout__tab" hidden><span translate>TEST</span></a>


                <!--<a href="#scroll-tab-5" class="mdl-layout__tab">Tab 5</a>
                <a href="#scroll-tab-6" class="mdl-layout__tab">Tab 6</a>-->
            </div>

        </header>
        <main class="mdl-layout__content" ng-app="myApp2" ng-controller="loadJyucyu">
            <section class="mdl-layout__tab-panel is-active" id="scroll-tab-2">
                <div class="page-content">
                    <div>
                        <p></p>
                        <div ng-controller="jyucyucontroller">
                            <div id="jyuReg">
                                <table border="0">
                                    <tr>
                                        <td width="69px" ><span translate>cusL</span></td>
                                        
                                        <td width="250px">
                                            <div class="mdl-textfield mdl-js-textfield">
                                                <div style="width:200px">
                                                    <input style="width:230px" class="mdl-textfield__input" type="text"
                                                           ng-keyup="searchTokui(tokuiN, $event)" ng-change="searchTokuiChange(tokuiN)"
                                                           ng-blur="leaveInput('TOKCD',$event)"
                                                           ng-model="tokuiN" value={{tokuiN}} id="tokuiNID" autofocus autocomplete="off" />
                                                    <label class="mdl-textfield__label" for="tokuiNID"></label>
                                                </div>
                                                    <select style="position:absolute;background-color:palegreen" size="13" ng-model="selectedTokui"
                                                            ng-blur="listBlur('TOKCD')"
                                                            ng-keyup="listKeyUp('TOKCD',$event)" ng-hide="tokuiHide" id="selectListTokuiID">
                                                        <option ng-repeat="tokuiData in listTokui" value="{{tokuiData}}">
                                                            {{tokuiData}}
                                                        </option>
                                                    </select>
                                            </div>
                                        </td>
                                        <td  colspan="3">
                                            <input style="width:60px" class="mdl-textfield__input" type="text" 
                                                   ng-model="tokuiC" value={{tokuiC}} id="tokuiC" disabled />
                                                
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><div style="width:70px" translate>deliveryLocL</div></td>
                                        <td>
                                            <div class="mdl-textfield mdl-js-textfield">
                                                <span>
                                                    <input style="width:230px" class="mdl-textfield__input" type="text"
                                                           ng-keyup="searchNounyu(nounyuN, $event)" ng-change="searchNoynyuChange(nounyuN)"
                                                           ng-blur="leaveInput('NOUCD',$event)" ng-focus="searchNoynyuChange(nounyuN)"
                                                           ng-model="nounyuN" ng-style="nounyuStyle" value={{nounyuN}} id="nounyuNID" 
                                                           ng-disabled="tokuiN.length == 0 || nounyuN == '納入場所は存在しません。'"  autocomplete="off"/>
                                                    <label class="mdl-textfield__label" for="nounyuNID"></label>
                                                </span>
                                                <select style="position:absolute;background-color:palegreen" size="4" ng-model="selectedNounyu"
                                                        ng-blur="listBlur('NOUCD')"
                                                        ng-keyup="listKeyUp('NOUCD',$event)" ng-hide="nounyuHide" id="selectListNounyuID">
                                                    <option ng-repeat="nounyudata in listNounyu" value="{{nounyudata}}">
                                                        {{nounyudata}}
                                                    </option>
                                                </select>
                                            </div>
                                        </td>
                                        <td colspan="3">
                                            <!--<input style="width:60px" type="text"                                                   
                                                   ng-model="nounyuC" value={{nouNyuC}} id="nounyuCID" disabled/>
                                            <label class="mdl-textfield__label" for="quantityID">得意名称</label>-->
                                        
                                        </td>
                                    </tr>
                                    <tr>
                                        <td ><span translate>productL</span></td>
                                        <td>
                                            <div class="mdl-textfield mdl-js-textfield">
                                                <span>
                                                    <input width="180px" style="width:180px" class="mdl-textfield__input" type="text"
                                                           ng-keyup="searchSehin(sehinZ, $event)" ng-change="searchSehinChange(sehinZ)"
                                                           ng-blur="leaveInput('ZAICD',$event)" ng-style="nounyuStyle" 
                                                           ng-model="sehinZ" value={{sehinZ}} id="sehinZID"  autocomplete="off"/>
                                                   <label class="mdl-textfield__label" for="sehinZID"></label>
                                                </span>
                                                <select style="position:absolute;background-color:palegreen" size="20" ng-model="selectedSeihin"
                                                        ng-blur="listBlur('ZAICD')"
                                                        ng-keyup="listKeyUp('ZAICD',$event)" ng-hide="sehinHide" id="selectListSeihinID">
                                                    <option ng-repeat="sehindata in listSehin" value="{{sehindata}}">
                                                        {{sehindata}}
                                                    </option>
                                                </select>
                                            </div>
                                        </td>
                                        
                                        <td width="160">
                                            <span><input style="width:140px" class="mdl-textfield__input ng-pristine ng-valid" type="text" ng-model="sehinN" ng-style="sehinNStyle" value="製品名称" disabled=""></span>
                                        </td>
                                        <td width="160">
                                            <input style="width:140px" class="mdl-textfield__input ng-pristine ng-valid" type="text" ng-model="sehinK" ng-style="sehinKStyle" value="機種" disabled="">
                                        </td>
                                        <td width="70">
                                            <!--<input style="width:60px" type="text" ng-blur="leaveInput('ZAICD',$event)" id="sehinCID" ng-model="sehinC"
                                                   ng-keyup="searchSehin(sehinC)" ng-change="searchSehinChange(sehinC)" ng-style="sehinCStyle" 
                                                   value={{sehinC}} disabled/><br />-->
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <table border="0">
                                <tr>
                                    <td width="200px">
                                        <table border="0">
                                            <tr>
                                                <td width="100px"><div style="width:90px" translate>quantityL</div></td>
                                                <td width="100px">
                                                    <div style="width:100px" class="mdl-textfield mdl-js-textfield">
                                                        <span>
                                                            <input style="text-align:right" class="mdl-textfield__input" type="text" 
                                                                   ng-keyup="enterkey($event, 'sehinTID')" ng-model="quantity" value={{quantity}} 
                                                                   pattern="-?[0-9]*(\.[0-9]+)?" id="quantityID" />
                                                            <label class="mdl-textfield__label" for="quantityID"></label>
                                                        </span>
                                                        <span style="width:100px" class="mdl-textfield__error">not number!</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="100px"><span translate>unitL</span></td>
                                                <td>
                                                    <div style="width:100px">
                                                        <span class="mdl-textfield mdl-js-textfield">
                                                            <input type="text" style="text-align:right;width:100px" class="mdl-textfield__input" id="sehinTID"
                                                                   ng-keyup="enterkey($event, 'dateNoukiID')" ng-model="sehinT"
                                                                   ng-style="sehinTStyle" value={{sehinT}} />
                                                        </span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><span translate>金額</span></td>
                                                <td style="text-align:right;"><div style="width:100px">{{sehinT*quantity}}</div></td>
                                            </tr>
                                            <tr>
                                                <td><span translate>orderDateL</span></td>
                                                <td>
                                                    <div style="width:100px">
                                                        <input style="width:100px" type="text" id="dateNoukiID" ng-keyup=changedateNouki($event) ng-model="dateNouki" ng-required="true" ng-style="noukiDateStyle" />
                                                    </div>
                                                </td>
                                                    
                                            </tr>
                                            <tr>
                                                <td><span translate>deliveryDateL</span></td>
                                                <td>
                                                    <div style="width:100px">
                                                        <input style="width:100px" type="text" id="dateNounyuID" ng-keyup=changedateNounyu($event) ng-model="dateNounyu" ng-required="true" ng-style="nounyuDateStyle" />

                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="150px"></td>
                                    <td>
                                        <table border="0">
                                            <tr>
                                                <td width="100px"><span translate>departmentL</span></td>
                                                <td><input style="width:50px" type="text" id="bumonCodeID" ng-keyup="enterkey($event, 'tantouCID')" value={{bumonCode}} /></td>
                                                <td><input type="text" style="width:10pc" class="mdl-textfield__input" value={{bumonName}} disabled /></td>
                                            </tr>
                                            <tr>
                                                <td><span translate>picL</span></td>
                                                <td>

                                                    <div style="width:3pc" class="mdl-textfield mdl-js-textfield">
                                                        <span>
                                                            <input style="width:50px" class="mdl-textfield__input" type="text"
                                                                   ng-keyup="searchTantou(tantouC, $event)" ng-change="searchTantouChange(tantouC)"
                                                                   ng-blur="leaveInput('TANCD',$event)"
                                                                   ng-model="tantouC" ng-style="nounyuStyle" value={{tantouC}} id="tantouCID" />
                                                            <!--<label class="mdl-textfield__label" for="quantityID">得意名称</label>-->
                                                        </span>
                                                        <select style="position:absolute;background-color:palegreen" size="10" ng-model="selectedTantou"
                                                                ng-blur="listBlur('TANCD')"
                                                                ng-keyup="listKeyUp('TANCD',$event)" ng-hide="tantouHide" id="selectListTantouID">
                                                            <option ng-repeat="tantouData in listTantou" value="{{tantouData}}">
                                                                {{tantouData}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <!--
                                                    <input type="text" ng-blur="leaveInput('TANCD')" id="tantouCID" 
                                                           ng-model="tantouC" ng-keyup="searchTantou(tantouC)" value={{tantouC}} />
                                                    <ul style="position:absolute" class="list-group" ng-model="tantouHide" ng-hide="tantouHide">
                                                        <li class="list-group-item" ng-repeat="tantouData in listTantou" ng-click="getValueTantou(tantouData)">{{tantouData}}</li>
                                                    </ul>
                                                        -->
                                                </td>

                                                <!--<td><input type="text" value={{tantouCode}} /></td>-->
                                                <td><input type="text" class="mdl-textfield__input" ng-model="tantouN" value={{tantouN}} disabled /></td>
                                            </tr>
                                            <tr>
                                                <td><span translate>customerOrderL</span></td>
                                                <td colspan="2">
                                                    <input style="width:110px" type="text" id="cyumonNo1ID" ng-keyup="enterkey($event, 'cyumonNo2ID')" ng-model="cyumonNo1" value={{cyumonNo1}} />
                                                    - <input style="width:30px" type="text" id="cyumonNo2ID" ng-keyup="enterkey($event, 'seizouID')" ng-model="cyumonNo2" value={{cyumonNo2}} />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><span translate>productionNoL</span></td>
                                                <td colspan="2"><input id="seizouID" type="text" style="width:110px" ng-keyup="enterkey($event, 'bikouID')" value={{seizou}} /></td>
                                            </tr>
                                            <tr>
                                                <td><span translate>remarksL</span></td>
                                                <td colspan="2"><input type="text" id="bikouID" style="width:110px" ng-keyup="enterkey($event, 'regLID')" value={{bikou}} /></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>

                            <div style="position: absolute;background-color:transparent;text-align:center;
                                  width: 1200px;
                                  height: 900px;
                                  z-index: 15;
                                  top: 20px;
                                  left: 0;"
                                 ng-model="wait_hide" ng-hide="wait_hide">
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p><img src="~/Content/waiting.gif" /></p>
                            </div>

                            <!-- BUTTON -->
                            <table>
                                <tr>
                                    <td align="left">
                                        <button class="mdl-button mdl-js-button mdl-button--raised" ng-click="syncEDIDATA()">
                                            <span translate>ediL</span>
                                        </button>
                                        &nbsp;&nbsp;
                                        <button class="mdl-button mdl-js-button mdl-button--raised" ng-click="GetJyuProcess()">
                                            <span translate>listL</span>
                                        </button>
                                    </td>
                                    <td width="100"></td>
                                    <td align="right">
                                        <button class="mdl-button mdl-js-button mdl-button--raised" id="regLID" ng-disabled=btnRegDis ng-click="registerOrder()">
                                            <span translate>regL</span>
                                        </button>
                                    </td>
                                    <td align="center">
                                        <button class="mdl-button mdl-js-button mdl-button--raised" id="updateLID" ng-disabled=!btnRegDis ng-click="savetoJyuEDI()">
                                            <span translate>editButton</span>
                                        </button>
                                    </td>
                                    <td align="center">
                                        <button class="mdl-button mdl-js-button mdl-button--raised" ng-click="ClearAllFill()">
                                            <span translate>newButton</span>
                                        </button>
                                    </td>
                                    <td align="center">
                                        <button class="mdl-button mdl-js-button mdl-button--raised" ng-disabled=!btnRegDis ng-click="delJyuProcess()">
                                            <span translate>delButton</span>
                                        </button>
                                    </td>
                                </tr>
                            </table>


                            <!-- Processing Data -->
                            <div ng-model="processHide" ng-hide="processHide">
                                <p></p>

                                <!--SEARCH     
                                                          
                                <div class="mdl-textfield-search mdl-js-textfield mdl-textfield-search--expandable">
                                    <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
                                        <i class="material-icons">search</i>
                                    </label> 
                                    

                                    <div class="mdl-textfield-search__expandable-holder">
                                        <input class="mdl-textfield-search__input" type="text" id="sample6" ng-model="searchValue" value={{searchValue}} ng-text-change={{searchInput()}}>
                                        <label class="mdl-textfield-search__label" for="sample-expandable">search</label>
                                    </div>
                                </div>
                                    -->
                                
                                
                                

                                <h3>PROCESSING ORDERS</h3>
                                <!-- -->
                                <style type="text/css">  
                                    
                                    thead th {
                                        background-color: darkgrey;
                                        position: fixed;
                                        top: 0;
                                    }
                                </style>
                                <table>
                                    <tr>
                                        <td>
                                            <i class="material-icons">search</i>
                                        </td>
                                        <td>
                                            <div>
                                                <input style="width:230px" class="mdl-textfield__input" type="text"
                                                       ng-model="searchValue" value={{searchValue}} id="searchValueID" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <div id="panel" ng-hide="searchValue==''">
                                                FILTERED ROWS: {{ (listJyuProcess | filter: searchValue).length }}
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                
                                <div style="text-align:right">
                                    <a ng-click="searchValue = ''" > ALL ROWS:</a> {{listJyuProcess.length}} , <a ng-click="searchValue = true">  Selected:</a> {{ (listJyuProcess | filter: {selected: true}).length }}
                                </div>

                                <div style="height:400px;position:relative; overflow:scroll">
                                    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                                        <thead >
                                            <tr>
                                                <th>
                                                    <input type="checkbox" ng-model="selectedAll" value={{selectedAll}} ng-click="selectedALLJYUCYU()" />
                                                </th>
                                                <th>Edit</th>
                                                <th ng-click='sortColumn("Status")' ng-class='sortClass("Status")'>STATUS</th>
                                                <th ng-click='sortColumn("Tokuicode")' ng-class='sortClass("Tokuicode")'>TOKCD</th>
                                                <th ng-click='sortColumn("Tokuiname")' ng-class='sortClass("Tokuiname")'>TNAME</th>
                                                <th ng-click='sortColumn("Nounyucode")' ng-class='sortClass("Nounyucode")'>NOUCD</th>
                                                <th ng-click='sortColumn("Nonyuname")' ng-class='sortClass("Nonyuname")'>NNAME</th>
                                                <th ng-click='sortColumn("Seihincode")' ng-class='sortClass("Seihincode")'>SEICD</th>
                                                <th ng-click='sortColumn("Seihinzuban")' ng-class='sortClass("Seihinzuban")'>ZUBAN</th>
                                                <th ng-click='sortColumn("Seihinname")' ng-class='sortClass("Seihinname")'>NAME</th>
                                                <th ng-click='sortColumn("Seihinkisyu")' ng-class='sortClass("Seihinkisyu")'>KISYU</th>
                                                <th ng-click='sortColumn("Quantity")' ng-class='sortClass("Quantity")'>JYUSU</th>
                                                <th ng-click='sortColumn("Tanka")' ng-class='sortClass("Tanka")'>JTANKA</th>

                                                <th ng-click='sortColumn("Nouki")' ng-class='sortClass("Nouki")'>NOUKI</th>
                                                <th ng-click='sortColumn("Nounyu")' ng-class='sortClass("Nounyu")'>YDATE</th>
                                                <th ng-click='sortColumn("Bumoncode")' ng-class='sortClass("Bumoncode")'>BMNCD</th>
                                                <th ng-click='sortColumn("Tantoucode")' ng-class='sortClass("Tantoucode")'>JTANCD</th>
                                                <th ng-click='sortColumn("Cyumonno1")' ng-class='sortClass("Cyumonno1")'>CYUNO</th>
                                                <th ng-click='sortColumn("Cyumonno2")' ng-class='sortClass("Cyumonno2")'>EDANO</th>

                                                <th ng-click='sortColumn("Seizou")' ng-class='sortClass("Seizou")'>SEIZO</th>
                                                <th ng-click='sortColumn("Bikou")' ng-class='sortClass("Bikou")'>BIKOU</th>
                                                <th ng-click='sortColumn("Ndate")' ng-class='sortClass("Ndate")'>NDATE</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="jyuProcess in listJyuProcess | filter:searchValue | orderBy:column:reverse">
                                                <!-- <td><input type="checkbox" ng-click="clickedItem(sehin)" </td> -->
                                                <td>
                                                    <input type="checkbox" ng-model="jyuProcess.selected" value={{jyuProcess.selected}} />
                                                </td>
                                                <td>
                                                    <button class="mdl-button mdl-js-button mdl-button--raised" ng-click="edit(jyuProcess)">
                                                        <span translate>editButton</span>
                                                    </button>
                                                </td>
                                                <td style="text-align:left">{{jyuProcess.Status}}</td>
                                                <td>{{jyuProcess.Tokuicode}}</td>
                                                <td>{{jyuProcess.Tokuiname}}</td>
                                                <td>{{jyuProcess.Nounyucode}}</td>
                                                <td>{{jyuProcess.Nonyuname}}</td>
                                                <td>{{jyuProcess.Seihincode}}</td>
                                                <td>{{jyuProcess.Seihinzuban}}</td>
                                                <td>{{jyuProcess.Seihinname}}</td>
                                                <td>{{jyuProcess.Seihinkisyu}}</td>

                                                <td>{{jyuProcess.Quantity}}</td>
                                                <td>{{jyuProcess.Tanka}}</td>

                                                <td>{{jyuProcess.Nouki}}</td>
                                                <td>{{jyuProcess.Nounyu}}</td>
                                                <td>{{jyuProcess.Bumoncode}}</td>
                                                <td>{{jyuProcess.Tantoucode}}</td>
                                                <td>{{jyuProcess.Cyumonno1}}</td>
                                                <td>{{jyuProcess.Cyumonno2}}</td>

                                                <td>{{jyuProcess.Seizou}}</td>
                                                <td>{{jyuProcess.Bikou}}</td>
                                                <td>
                                                    {{jyuProcess.Ndate}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <br />
                                <!-- BUTTON Complete-->
                                <table>
                                    <tr>
                                        <td align="left">
                                            <button class="mdl-button mdl-js-button mdl-button--raised" ng-click="completeEDI()">
                                                <span translate>Complete Order</span>
                                            </button>

                                            <button class="mdl-button mdl-js-button mdl-button--raised" ng-click="updateOrderProcess()">
                                                <span translate>UPDATE</span>
                                            </button>

                                            <button class="mdl-button mdl-js-button mdl-button--raised" ng-click="deleteSelectedOrder()">
                                                <span translate>選択削除</span>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                                <br /><br />
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section class="mdl-layout__tab-panel" id="scroll-tab-3">
                <div class="page-content">
                    <div>
                        <p></p>
                        <h3> <span translate>scheduleProdL</span> </h3>
                        <br />
                        <div ng-controller="seisancontroller">
                            <div id="seiReg">
                                <table>
                                    <tr>
                                        <td width="90px"><span translate>cusL</span></td>
                                        <td>
                                            <div class="mdl-textfield mdl-js-textfield">
                                                
                                                    <input style="width:230px" class="mdl-textfield__input" type="text"
                                                           ng-keyup="searchTokui(tokuiN, $event)" ng-change="searchTokuiChange(tokuiN)"
                                                           ng-blur="leaveInput('TOKCD',$event)"
                                                           ng-model="tokuiN" value={{tokuiN}} id="tokuiNIDS" autofocus autocomplete="off" />
                                                    <label class="mdl-textfield__label" for="quantityID"></label>
                                                
                                                <select style="position:absolute;background-color:palegreen" size="8" ng-model="selectedTokuiS"
                                                        ng-blur="listBlur('TOKCD')"
                                                        ng-keyup="listKeyUpS('TOKCD',$event)" ng-hide="tokuiHide" id="selectListTokuiIDS">
                                                    <option ng-repeat="tokuiData in listTokui" value="{{tokuiData}}">
                                                        {{tokuiData}}
                                                    </option>
                                                </select>
                                            </div>

                                        </td>
                                        <td colspan="2">
                                            <!--<span style="width:15pc" class="mdl-textfield mdl-js-textfield">
                                                <input style="width:15pc" class="mdl-textfield__input" type="text" 
                                                       ng-model="tokuiC" ng-keyup="searchTokui(tokuiC)" value={{tokuiC}} id="tokuiC" disabled/>
                                                <label class="mdl-textfield__label" for="tokuiC">TokuiCode</label>
                                            </span>                                            
                                            -->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span translate>区分</span></td>
                                        <td>
                                            <select ng-change="kubunSelect(kubun)" ng-model="kubun" ng-options="c.name for c in kubuns" id="selectKubunID"></select>                                            
                                        </td>
                                        <td></td>
                                    </tr>

                                </table>
                            </div>

                            <div style="position: absolute;
                                  width: 300px;
                                  height: 200px;
                                  z-index: 15;
                                  top: 30%;
                                  left: 20%;
                                  margin: -100px 0 0 -150px;"
                                 ng-model="wait_hide" ng-hide="wait_hide"><img src="~/Content/waiting.gif" /></div>

                            <!-- BUTTON -->
                            <table>
                                <tr>
                                    <td align="left">
                                        <button class="mdl-button mdl-js-button mdl-button--raised" ng-click="getSeiEDI()">
                                            <span translate>ediL</span>
                                        </button>
                                        <!--
                                &nbsp;&nbsp;
                                <button class="mdl-button mdl-js-button mdl-button--raised" ng-click="GetSeiProcess()">
                                    <span translate>listL</span>
                                </button>
                                -->
                                    </td>
                                    <td width="200">
                                        <span ng-model="buhinCheckboxHide" ng-hide="buhinCheckboxHide">
                                            <input type="checkbox" ng-model="kaitenCheck" value="kaitenCheck">部品展開する
                                        </span>
                                    </td>
                                </tr>
                            </table>


                            <!-- Processing Data -->
                            <div ng-model="processHide">
                                <!--ng-hide="processHide">-->
                                <!--SEARCH
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                                    <label class="mdl-button mdl-js-button mdl-button--icon" for="sample7">
                                        <i class="material-icons">search</i>
                                    </label>

                                    <div class="mdl-textfield__expandable-holder">
                                        <input class="mdl-textfield__input" type="text" id="sample7" ng-model="searchValue" value={{searchValue}} ng-text-change={{searchInput()}}>
                                        <label class="mdl-textfield__label" for="sample-expandable">search</label>
                                    </div>
                                </div>
                                <div id="panel" *ngIf="isNotEmptyObject()">
                                    FILTERED ROWS: {{ (listSeiProcess | filter: searchValue).length }}
                                </div>
                                -->

                                <h3>PROCESSING ORDERS</h3>
                                <!--
                                <div style="position: absolute;
                                  width: 500px;
                                  height: 200px;
                                  z-index: 15;
                                  top: 50%;
                                  left: 35%;
                                  margin: -100px 0 0 -150px;"
                                     ng-model="sehinHide" ng-hide="sehinHide" id="sehinDivID">

                                    <input style="width:15pc;background-color:aqua;color:red;font-weight:bold" class="mdl-textfield__input" type="text"
                                           id="searchInputID"
                                           ng-keyup="searchSehin(seiProcess, $event)" ng-change="searchSehin(seiProcess,$event)"
                                           ng-model="seiProcess.ZAICD" value={{seiProcess.ZAICD}} />
                                    <ul style="position:absolute" class="list-group">
                                        <li class="list-group-item" ng-repeat="sehindata in listSehin" ng-click="selectSehin(sehindata)">{{sehindata}}</li>
                                    </ul>


                                </div>-->    

                                <table>
                                    <tr>
                                        <td>
                                            <i class="material-icons">search</i>
                                        </td>
                                        <td>
                                            <div>
                                                <input style="width:230px" class="mdl-textfield__input" type="text"
                                                       ng-model="searchValue" value={{searchValue}} id="searchValueID" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <div id="panel" ng-hide="searchValue==''">
                                                FILTERED ROWS: {{ (listSeiProcess | filter: searchValue).length }}
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            
                                <div style="text-align:right">
                                    <a ng-click="searchValue = ''">ALL ROWS:</a> {{(listSeiProcess | filter: {ZAIKB: kubun.code, TOKCD: tokuiC}).length}} , <a ng-click="searchValue = true; kubun = null">Selected:</a> {{ (listSeiProcess | filter: {selected: true}).length }}
</div>
                                <div style="height:400px;position:relative; overflow:scroll">                                    
                                    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" align="left" style="text-align:left">
                                        <thead style="position:sticky; top:30px">
                                            <tr>
                                                <th>
                                                    <input type="checkbox" ng-model="selectedAll" value={{selectedAll}} ng-click="selectedALLSEI()" />
                                                </th>

                                                <th ng-click='sortColumn("Status")' ng-class='sortClass("Status")'>Status</th>
                                                <th ng-click='sortColumn("SIYNO")' ng-class='sortClass("SIYNO")'>SIYNO</th>
                                                <th ng-click='sortColumn("TOKCD")' ng-class='sortClass("TOKCD")'>TOKCD</th>
                                                <th ng-click='sortColumn("ZAIKB")' ng-class='sortClass("ZAIKB")'>ZAIKB</th>
                                                <th ng-click='sortColumn("ZAICD")' ng-class='sortClass("ZAICD")'>ZAICD</th>
                                                <th ng-click='sortColumn("ZUBAN")' ng-class='sortClass("ZUBAN")'>
                                                    ZUBAN
                                                </th>
                                                <th ng-click='sortColumn("NAME")' ng-class='sortClass("NAME")'>NAME</th>
                                                <th ng-click='sortColumn("KISYU")' ng-class='sortClass("KISYU")'>KISYU</th>
                                                <th ng-click='sortColumn("SEISU")' ng-class='sortClass("SEISU")'>SEISU</th>
                                                <th ng-click='sortColumn("NOUKI")' ng-class='sortClass("NOUKI")'>NOUKI</th>
                                                <th ng-click='sortColumn("JTANKA")' ng-class='sortClass("JTANKA")'>JTANKA</th>
                                                <th ng-click='sortColumn("NDATE")' ng-class='sortClass("NDATE")'>NDATE</th>
                                                <th>削除</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-model="sehinHide" ng-hide="sehinHide" style="height:1px">
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td align="left">
                                                    <select style="position:absolute;background-color:palegreen" size="13" ng-model="selectedSehin"
                                                            ng-blur="listBlur('ZAICD',$event)" ng-mousedown="listMouseDown()"
                                                            ng-keyup="listKeyUp('ZAICD',$event)" id="listSehinID">
                                                        <option ng-repeat="sehindata in listSehin" value="{{sehindata}}">
                                                            {{sehindata}}
                                                        </option>
                                                    </select>
                                                    <!--ng-model="sehinHide" ng-hide="sehinHide"-->
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr ng-repeat="seiProcess in listSeiProcess | filter: searchValue | filter: {ZAIKB: kubun.code, TOKCD: tokuiC} | orderBy:column:reverse">
                                                <td>
                                                    <input type="checkbox" ng-model="seiProcess.selected" value={{seiProcess.selected}} />
                                                </td>

                                                <td>{{seiProcess.Status}}</td>
                                                <td>{{seiProcess.SIYNO}}</td>
                                                <td>{{seiProcess.TOKCD}}</td>
                                                <td>{{seiProcess.ZAIKB}}</td>
                                                <td>
                                                    <input type="text" id="sehin{{seiProcess.SIYNO}}ID"
                                                           ng-keyup="searchSehin(seiProcess, $event)" ng-change="searchSehinChange(seiProcess)"
                                                           ng-blur="leaveInput(seiProcess)"
                                                           ng-model="seiProcess.ZAICD" value={{seiProcess.ZAICD}} />
                                                </td>
                                                <td>{{seiProcess.ZUBAN}}</td>
                                                <td>{{seiProcess.NAME}}</td>
                                                <td>{{seiProcess.KISYU}}</td>
                                                <td>
                                                    <input type="text" id="seisu{{seiProcess.SIYNO}}ID"
                                                           ng-focus=tesssst(seiProcess)
                                                           ng-keyup="updateSeiSu(seiProcess, $event)" ng-model="seiProcess.SEISU" value={{seiProcess.SEISU}} ng-style="seisuStyle" />
                                                </td>
                                                <td>
                                                    <input type="text" id="nouki{{seiProcess.SIYNO}}ID" ng-keyup="updateNouki(seiProcess, $event)" ng-model="seiProcess.NOUKI" value={{seiProcess.NOUKI}} />
                                                    <br />yyyyMMdd
                                                </td>
                                                <td>{{seiProcess.JTANKA}}</td>
                                                <td>{{seiProcess.NDATE}}</td>
                                                <td>
                                                    <button class="mdl-button mdl-js-button mdl-button--raised" ng-click="delSeiProcess(seiProcess)">
                                                        <span translate>delButton</span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <br />
                                <!-- BUTTON Complete-->
                                <table>
                                    <tr>
                                        <td align="left">
                                            <button class="mdl-button mdl-js-button mdl-button--raised" ng-click="TWSeiProcess()">
                                                <span translate>Complete Order</span>
                                            </button>

                                            <button class="mdl-button mdl-js-button mdl-button--raised" ng-click="refreshSeiProcess()">
                                                <span translate>REFRESH</span>
                                            </button>
                                            <button class="mdl-button mdl-js-button mdl-button--raised" ng-click="deleteSelectedSeiyo()">
                                                <span translate>選択削除</span>
                                            </button>

                                            <!--<div ng-model="createButtonHide"> -->

                                            <button class="mdl-button mdl-js-button mdl-button--raised" 
                                                    ng-click="createSeiProcess()" ng-model="createButtonHide" 
                                                    ng-hide="tokuiC == ''"> <!-- "createButtonHide">-->
                                                <span translate>newButton</span>
                                            </button>



                                        </td>
                                    </tr>
                                </table>
                                <br /><br />
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section class="mdl-layout__tab-panel" id="scroll-tab-4">
                <div class="page-content">
                    ABCDEF
                    <input type="text" size="20" list="mylist1" />
                    <datalist id="mylist1">
                        <option>りんご</option>
                        <option>バナナ</option>
                        <option>ぶどう</option>
                    </datalist>　<br />
                    <input type="text" value="abc" />


                    <input type="text" datepicker-popup ng-model="dateNouki" ng-required="true" />
                    <p></p>


                    <div ng-controller="jyucyucontroller">
                        <span style="width:15pc" class="mdl-textfield mdl-js-textfield">
                            <input style="width:15pc" class="mdl-textfield__input" type="text" ng-model="tokuiC" ng-keyup="searchTokui(tokuiC, $event)" value={{tokuiC}} id="tokuiC" />
                            <label class="mdl-textfield__label" for="tokuiC">TokuiCode</label>
                        </span>
                        <ul style="position:absolute" class="list-group" ng-model="tokuiHide" ng-hide="tokuiHide" id="TokuiCList">
                            <li class="list-group-item" ng-repeat="tokuiData in listTokui" ng-click="getTokui(tokuiData)">{{tokuiData}}</li>
                        </ul>

                        <input type="text" ng-model="tokuiC" ng-keyup="searchTokui(tokuiC, $event)" value={{tokuiC}} size="20" list="mylis2" />

                        <datalist id="mylis2">
                            <option ng-repeat="tokuiData in listTokui" value="{{tokuiData}}">{{tokuiData}}</option>
                        </datalist>　<br />


                        <button class="mdl-button mdl-js-button mdl-button--raised" ng-click="TESTBYDUC()">
                            <span translate>TESTBYDUC</span>
                        </button>

                        <span><select ng-model="odbc" ng-options="c.name for c in odbcs"></select></span>

                        <div>
                            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" align="left" style="text-align:left">
                                <thead style="position:sticky; top:30px">
                                    <tr>
                                        <th>CYUNO</th>

                                        <th>CYUDT</th>

                                        <th>ZUBAN</th>
                                        <th>SNAME</th>
                                        <th>KISYU</th>
                                        <th>TANI</th>
                                        <th>TANKA</th>
                                        <th>CYUSU</th>
                                        <th>NOUKI</th>




                                        <th>TOKCD</th>
                                        <th>NOUCD</th>
                                        <th>SFLG</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="cyumon in abcTest | filter:searchValue | orderBy:column:reverse">
                                        <td>{{cyumon.Cyuno}}</td>

                                        <td>{{cyumon.Cyudt}}</td>

                                        <td>{{cyumon.Zuban}}</td>
                                        <td>{{cyumon.Sname}}</td>
                                        <td>{{cyumon.Kisyu}}</td>
                                        <td>{{cyumon.Tani}}</td>
                                        <td>{{cyumon.Tanka}}</td>
                                        <td>{{cyumon.Cyusu}}</td>
                                        <td>{{cyumon.NoukiI}}</td>




                                        <td>{{cyumon.Tokcd}}</td>
                                        <td>{{cyumon.Noucd}}</td>
                                        <td>{{cyumon.Sflg}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <br />
                </section>

            <!--<section class="mdl-layout__tab-panel" id="scroll-tab-5">
                <div class="page-content">
                    <input type="text" datepicker-popup ng-model="dateNouki" ng-required="true" />
                </div>
            </section>

            <section class="mdl-layout__tab-panel" id="scroll-tab-6">
                <div class="page-content"></div>
            </section>
            -->
        </main>

    </div>


